body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(55, 31, 31);
    text-decoration: none;
    padding: 8px 16px;
}

nav ul li a:hover {
    background-color: #555555;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section img {
    max-width: 80%;
    height: auto;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    position: relative;
    width: 30%;
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}
h2{
    color: white;
}
p{
    color: white;}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.video-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-container {
    flex: 1;
    min-width: 560px;
    margin: 10px;
}

@media (max-width: 768px) {
    .image-container {
        width: 100%;
        margin: 5px 0;
    }
    
    .video-container {
        min-width: 100%;
    }
}
.sample2 {
    display: none; /* 初期状態で非表示 */
}

